player-connection-mode=Listen
player-connection-guid=1965744838
player-connection-debug=0
player-connection-project-name=OnlineDrawablePong
player-connection-ip=192.168.145.241
player-connection-ip=192.168.0.105
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
